@import "functionsAndVariables";

.contact-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 6vh;
  font-family: 'Poppins', sans-serif;

  .line {
    width: 80%;
    height: 1px;
    background-color: color(blueGray);
    border-radius: 10px;
  }
}

  .inner-contact-container {
    width: 90%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6vh;

    h1 {
      padding-bottom: 1vh;
    }
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  h2 {
    color: color(darkBluee);
    font-weight: bold;
    font-size: 2rem;
  }
  p {
    color: color(darkBluee);
    font-weight: normal;
    font-size: 1.25rem;
  }
  a {
    font-weight: normal;
    font-size: 1.25rem;
  }

  @media screen and (max-width: 425px) {
    h2 {
      color: color(darkBluee);
      font-weight: bold;
      font-size: 1.5rem;
    }
    p {
      color: color(darkBluee);
      font-weight: normal;
      font-size: 1rem;
    }
    a {
      font-weight: normal;
      font-size: 1rem;
    }
  }
