@import "functionsAndVariables";

.projects-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  //position: absolute;
  justify-content: center;
  align-items: center;
  padding-top: 6vh;
  font-family: 'Poppins', sans-serif;

  .line {
    width: 80%;
    height: 1px;
    background-color: color(blueGray);
    border-radius: 10px;
  }

  h1 {
    padding-top: 8vh;
  }
}

.inner-projects-container {
  width: 90%;
  padding-top: 6vh;
  display: flex;
  //flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

 
}

.project {
  // dont use view anything!
  width: 350px; //60vh;
  height: 350px; //60vh;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: color(blueGray);
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  margin: 0 auto 2em;

  a:link, a:visited {
    background-color: color(darkBluee);
    color: color(blueGray);
    padding: 14px 25px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: normal;
    font-size: 1.25rem; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
  }

  a:hover {
    background-color: color(hoverBlue);
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

h2 {
  font-weight: bold;
  font-size: 2rem;
}
p {
  font-weight: normal;
  font-size: 1.25rem;
}

@media screen and (max-width: 425px) {
  h2 {
    font-weight: bold;
    font-size: 1.5rem;
  }
  p {
    font-weight: normal;
    font-size: 1rem;
  }
  
  .project {
    // dont use view anything!
    width: 90%; //60vh;
    height: 50%; //60vh;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: color(blueGray);
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    margin: 0 auto 2em;
  
    a:link, a:visited {
      background-color: color(darkBluee);
      color: color(blueGray);
      padding: 14px 25px;
      text-align: center;
      text-decoration: none;
      font-weight: normal;
      font-size: 1rem; 
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border-radius: 10px;
    }

    a:hover {
      background-color: color(hoverBlue);
    }
  }
}